/* 62.5% 1rem=10px */
html {
    font-size: 62.5%;
    font-family: 'Oranienbaum', serif;
    font-family: 'Poppins', sans-serif;
}

*    {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family:'Poppins';
}

h1 {
    color: var(--font-color--light-white);
    font-weight: var(--font-weight--norma);
    letter-spacing: 0.2rem;
    font-family: 'Poppins';
}

h2 {
    font-weight: var(--font-weight--normal);
    font-family: 'Oranienbaum';
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight--normal);
    font-family: 'Oranienbaum';
}

h4 {
    font-family: 'Poppins';
    font-weight: var(--font-weight--normal);
}

p {
    font-size: var(--font-size--base);
    font-weight: var(--font-weight--normal);
    font-family: 'Poppins';
}


/* Mobile */
@media only screen and (max-width: 768px) {
    header,
    .contact--links--desktop,
    .desktop-hr {
        display: none;
    }

    h1 {
        font-size: var(--font-size--h1--mobile);
    }

    h2 {
        font-size: var(--font-size-h2--mobile);
    }

    hr {
        background-color: var(--background-color-hr--mobile);
        opacity: 1;
        margin: 0;
    }

    a {
        color: var(--font-color-a)
    }


    section {
        padding-left: var(--space--xxl);
        padding-right: var(--space--xxl);
        padding-top: var(--space--xxl)
    }

    .navigation--mobile {
        padding-left: var(--space--xl);
        padding-right: var(--space--xl);
    }

    [src="images/LOFO.png"] {
        height: 9rem;
    }

    input {
        height: var(--input-height);
        font-size: var(--font-size--base);
        border: 0.1rem solid #495675;
        padding-left: 2.2rem;
        color: #C4C4C4;
    }

    textarea {
        height: var(--textarea-height);
        font-size: var(--font-size--base);
        border: 0.1rem solid #495675;
        padding-left: 2.2rem;
        padding-top: 1.6rem;
        color: #C4C4C4;
    }
    
    /* input */
    input {
        width: 100%;
        background-color: var(--background-color--secondary);
    }

    textarea {
        width: 100%;
        background-color: var(--background-color--secondary);
    }

}


/* Desktop and tablet */
@media only screen and (min-width: 769px) {
    .navigation--mobile,
    .contact--links--mobile,
    .main-icon--mobile,
    .menu-hidden {
        display: none;
    }

    h1 {
        font-size: var(--font-size--h1--desktop);
        font-family: 'Poppins';
    }

    h2 {
        font-size: var(--font-size-h2--desktop);
    }

    hr {
        background-color: var(--background-color-hr--desktop);
    }

    a {
        font-size: var(--font-size--base);
    }

    input {
        width: var(--input-width--desktop);
    }

    textarea {
        width: var(--textarea-width--desktop);
    }

    section:not(.section--hero, .section-discover) {
        padding-top: 10rem;
    }
    header,
    .section--hero {
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 9.5rem;
    }

    .section-discover {
        padding-top: 90rem;
    }

    .footer-section,
    .section-discover {
        padding-left: 31rem;
        padding-right: 31rem;
    }

    [src="images/LOFO.png"] {
        height: 9rem;
    }

}