/* 62.5% 1rem=10px */
html {
    font-size: 62.5%;
    font-family: 'Oranienbaum', serif;
    font-family: 'Poppins', sans-serif;
    }


:root {
    --main-background-color: #E5E5E5;
    --secondary-background-color: #0B1C44;
    --third-background-color: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(190, 231, 236, 0.5) 100%);
    --font-color-primary: #000000;
    --font-color-secondary: #E5E5E5;
    --font-color-third: #DDEAEA;
    --font-color-fourth: #82C3CA;
    --logos-color: #82C3CA;
    --button-color: #FFFFFF;
    --font-size--base: 1.6rem;
    --font-size--h1--mobile: 1.4rem;
    --font-size-h2--mobile: 3.6rem;
    --font-size-h3--mobile: 2.4rem;
    --font-size-h1--desktop: 1.8rem;
    --font-size-h2--desktop: 6.4rem;
    --font-size-h3--desktop: 2.4rem;
    --font-size-p: 1.6rem;
    --font-weight--bold: 700;
    --font-weight--normal: 400;
    --font-weight--lighter: 100;
    --button-height--primary: 6rem;
    --button-border--style: none;
    --input-width--mobile: 35.4rem;
    --input-width--desktop: 41.9rem;
    --input-height--primary: 6rem;
    --input-height--secondary: 12rem;
    --input-border--style: none;
    --space--xs: 0.5rem;
    --space--s: 1rem;
    --space--m: 1.5rem;
    --space--l: 2rem;
    --space--xl: 2.5rem;
    --space--xxl: 3rem;
}

*    {
    box-sizing: border-box;
    margin: 0;
    }


/* Mobile */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: var(--font-size--h1--mobile)
    }

    h2 {
        font-size: var(--font-size-h2--mobile);
        font-family: 'Oranienbaum';
    }

    h3 {
        font-size: var(--font-size-h3--mobile);
    }

    p {
        font-size: var(--font-size-p);
    }

    hr {
        background-color: var(--font-color-third);
    }

    header {
        display: none;
    }

    .contact--links--desktop {
        display: none;
    }

    section {
        padding-left: var(--space--xxl);
        padding-right: var(--space--xxl);
        padding-top: var(--space--xxl)
    }

    .navigation--mobile {
        padding-left: var(--space--xl);
        padding-right: var(--space--xl);
    }

    /* section 1 */
    .section--first {
        background: linear-gradient(180deg, rgba(11, 28, 68, 0) 0%, rgba(11, 28, 68, 0.8) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), url(../images/first-background-mobile.jpeg), #000000;
        min-height: 90rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100vw;
        text-align: center;
        color: white;
    }

    .section--first h1 {
        color: var(--font-color-secondary);
        font-size: var(--font-size--h1--mobile);
        font-weight: var(--font-weight--normal);
        letter-spacing: 0.2rem;
        padding-top: 10rem;
        padding-bottom: var(--space--xl)
    }

    .section--first h4:nth-of-type(1) {
        font-size: 4.8rem;
        font-weight: var(--font-weight--normal);
        font-family: 'Oranienbaum';
    }

    .section--first h4:nth-of-type(2) {
        padding-top: 13.8rem;
        font-size: var(--font-size-p);
        font-weight: var(--font-weight--normal);
        font-size: 16px;
        line-height: 24px;
    }

    /* section 2 */
    .section--second {
        background: var(--third-background-color);
    }

    .section--second p {
        color: #646464;
        font-style: normal;
        font-weight: var(--font-weight--normal);
        line-height: 30px;
    }

    .section--second h3 {
        font-family: 'Oranienbaum';
        font-style: normal;
        font-size: var(--font-size-h3--mobile);
        line-height: 28px;
        padding-top: 1.2rem;
        padding-bottom: 2.3rem;
    }

    .section--second h2 {
        font-weight: var(--font-weight--normal);
        padding-bottom: 2.2rem;
    }

    .section--second_line p {
        font-size: 1.4rem;
        letter-spacing: 0.2em;
    }

    .section--second_line {
        display: flex;
        flex-direction: row;
        padding-bottom: 2.7rem;
    }

    .section--second_line span {
        background-color: #9f9f9f;
        display: block;
        height: 0.06rem;
        width: 8.9rem;
        margin-top: 1.5rem;
        margin-left: 1rem;
    }

    .section--second-about-us {
        padding-top: 2.7rem;
        padding-bottom: 3.9rem;
        padding-left: 6rem;
    }

    .section--second-about-us a {
        font-size: var(--font-size-p);
        font-weight: var(--font-weight--bold);
        line-height: 24px;
        letter-spacing: 0.2em;
        padding-right: 2rem;
    }

    [src="images/section-first-image.png"] {
        width: 29.4rem;
        height: 27rem;
        margin-left: 6rem;
    }

    [src="images/section-second-image.png"] {
        width: 23rem;
        height: 17.2rem;
    }

    [src="images/section-third-image.png"] {
        width: 10.8rem;
        height: 14.4rem; 
    }

    .overlapping--images {
        padding-bottom: 5.5rem;
    }

    .section--second-containers {
        display: flex; 
        flex-direction: row;
        padding-bottom: 5.5rem;
        padding-top: 3.8rem;
    }

    .section--second-containers span {
    font-family: 'Oranienbaum';
    font-size: 48px;
    line-height: 55px;
    color: var(--font-color-third);
    padding-right: 2.7rem;
    }

    /* section 3 */
}



/* Desktop and tablet */
@media only screen and (min-width: 768px) {
    .navigation--mobile {
        display: none;
    }

    .contact--links--mobile {
        display: none;
    }

    .main-icon--mobile {
        display: none;
    }
}