[name="start"],
[name="end"] {
    width: 40%;
    height: 5rem;
    background-color: transparent;
    color: var(--color--white);
    border: none;
    font-size: 1rem;
    text-align: center;
    font-family: 'Oranienbaum';
}

[viewBox="0 0 33 16"] {
    color: var(--color--white);
    width: 2rem;
    height: 2.4rem;
}

#foo {
    width: 18rem;
    height: 5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    align-items: center;
}

::placeholder {
    color: var(--color--white);
    text-align: center;
}