
/* Desktop and tablet */
@media only screen and (min-width: 769px) {
    .navigation--desktop {
        background-color: var(--background-color--transparent);
        min-height: 14rem;
        z-index: 2;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 4rem;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
        transition: background-color 0.5s;
    }

    .header--backround {
        background-color: var(--background-color--secondary);
        z-index: 3;
        position: fixed;
        padding-left: 4rem;
        padding-right: 4rem;
        top: 0;
        left: 0;
        right: 0;
    }

    
    header a {
        color: var(--color--white);
        font-weight: var(--font-weight--bold);
        text-decoration: none;
    }
    
    [src="images/LOFO.png"] {
        height: 6rem;
        width: auto;
    }

    .header--links {
        width: 55%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 4rem;
    }

    .header--flex {
        display: flex;
        justify-content: flex-end;
        align-items:flex-end;
        padding-top: 1.8rem;
    }

    .header__buttons {
        /* width: 45%; */
        display: inline;
        justify-content: space-between;
    }

    [name="lang"] {
        background-color: var(--background-color--transparent);
        text-align: center;
        border-style: none;
        color: #B0BCD7;
        margin-bottom:  var(--space--m);
        margin-left:  var(--space--xs);
    }

    .header__buttons p {
        font-size: 1.2rem;
        color: #E5E5E5;
        text-transform: uppercase;
        text-align: center;
    }

    .reservation button {
        height: 5rem;
        width: 24rem;
        text-transform: uppercase;
        background-color: var(--color--white);
        color: #2C2C2C;
        font-size: var(--font-size--base);
        border-style: none;
    }

    .reservation {
        padding-left: var(--space--s);
    }
}