<hr class="desktop-hr">
        <section class="section--hero">
            <img src="images/LOFO.png" class="main-icon--mobile">
            <h1>Apartamenty Świnoujście</h1>
            <h4>Doskonale zaplanowany wypoczynek</h4>
            <h4>odkryj apartpark</h4>
            <div class="contact--links--desktop">
                <a href="https://www.facebook.com/apartparkbaltichome/" target="_blank"><img
                        src="images/facebook-desktop.png"></a>
                <a href="https://www.instagram.com/apart_park/" target="_blank"><img
                        src="images/instagram-desktop.png"></a>
                <a href="https://www.youtube.com/watch?v=letAdh5Q2OU" target="_blank"><img
                        src="images/youtube-desktop.png"></a>
            </div>
        </section>
        <section class="section-discover">
            <div class="section-discover--idk">
                <div class="discover-apartpark">
                    <div class="section-discover_line">
                        <p>Komfortowy wypoczynek</p>
                        <span> </span>
                    </div>
                    <h2>Odkryj Apartpark</h2>
                    <p>Zobacz apartamenty w pierwszej linii nadmorskiej zabudowy. Każdy z nich przygotowaliśmy z myślą o Twoich
                        wakacjach. Dlatego oferujemy również wyżywienie na miejscu oraz usługę hotelową w standardzie.
                    </p>
                    <div class="section-discover-about-us">
                        <a href="static-page.html">o nas</a>
                        <svg width="33" height="16" viewBox="0 0 33 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 8H32" stroke="#82C3CA"></path>
                            <path d="M26.5 1C27 3.33333 28.9 8 32.5 8" stroke="#82C3CA"></path>
                            <path d="M26.5 15C27 12.6667 28.9 8 32.5 8" stroke="#82C3CA"></path>
                        </svg>
                    </div>
                </div>
                <div class="overlapping--images">
                    <img src="images/section-first-image.png">
                    <img src="images/section-second-image.png">
                    <img src="images/section-third-image.png">
                </div>
            </div>
            <div class="discover-container">
                <hr>
                <div class="section-discover-containers">
                    <span>01</span>
                    <div>
                        <h3>Doskonała lokalizacja</h3>
                        <p>Szum fal i odgłosy mew na rozgrzanej słońcem plaży to Twoje wymarzone wakacje. Aby były idealne,
                            potrzebujesz tylko luksusowego apartamentu, położonego nad samym morzem. Dokładnie: 300 metrów
                            od plaży.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="section-discover-containers">
                    <span>02</span>
                    <div>
                        <h3>Pełny komfort</h3>
                        <p>Wśród 370 apartamentów znajdziesz swój wymarzony z przestronną sypialnią i w pełni wyposażonym
                            aneksem kuchennym.
                            Zapraszamy do strefy relaksu na terenie obiektu oraz naszej wyjątkowej restauracji Sofa Cafe i
                            polecanej restauracji Sofa Bistro.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="section-discover-containers">
                    <span>03</span>
                    <div>
                        <h3>Idealne wakacje</h3>
                        <p>Czekają na Ciebie czysta plaża
                            w Świnoujściu oraz wiele innych atrakcji: od interesujących obiektów historycznych po możliwość
                            uprawiania sportów ekstremalnych. A wszystko to tuż nad polskim morzem.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section_slider">
            <div class="section-slider_line">
                <p>funkcjonalne i luksusowe</p>
                <span> </span>
            </div>
            <h2>Nadmorskie apartamenty Apartpark</h2>
            <p class="slider_paragraph">Zobacz apartamenty z widokiem
                na morze. Każdy jest komfortowy,
                ale również funkcjonalny. Przygotowany
                z myślą o rodzinach z dziećmi oraz Gościach,
                którzy doceniają wnętrza urządzone w nowoczesnym stylu.
            </p>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="images/slider-image.png">
                        <br>
                        <div class="apartment-information">
                            <h3>Apartament Rubus 402</h3>
                            <span>2 osoby /</span>
                            <span>jedna sypialnia /</span>
                            <span>40m2</span>
                            <br>
                            <p>*Śniadanie wliczone w cene</p>
                            <br>
                            <a href="apartament1">Zobacz apartament</a>
                        </div>  
                      </div>
                      <div class="carousel-item">
                        <img src="images/slider-image.png">
                        <br>
                        <div class="apartment-information">
                            <h3>Apartament Rubus 402</h3>
                            <span>2 osoby /</span>
                            <span>jedna sypialnia /</span>
                            <span>40m2</span>
                            <br>
                            <p>*Śniadanie wliczone w cene</p>
                            <br>
                            <a href="apartament1">Zobacz apartament</a>
                        </div>  
                      </div>
                      <div class="carousel-item">
                        <img src="images/slider-image.png">
                        <br>
                        <div class="apartment-information">
                            <h3>Apartament Rubus 402</h3>
                            <span>2 osoby /</span>
                            <span>jedna sypialnia /</span>
                            <span>40m2</span>
                            <br>
                            <p>*Śniadanie wliczone w cene</p>
                            <br>
                            <a href="apartament1">Zobacz apartament</a>
                        </div>  
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            <a class="a-all-apartments">Wszystkie apartamenty
                <svg width="33" height="16" viewBox="0 0 33 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H32" stroke="#82C3CA"></path>
                    <path d="M26.5 1C27 3.33333 28.9 8 32.5 8" stroke="#82C3CA"></path>
                    <path d="M26.5 15C27 12.6667 28.9 8 32.5 8" stroke="#82C3CA"></path>
                </svg>
            </a>
        </section>