<section class="static-page">
    <img src="images/LOFO.png">
    <h1>Strona statyczna</h1>
    <p>Strona główna / strona statyczna</p>
</section>
<section class="headings">
    <div class="first-heading">
    <h2>Nagłówek</h2>
        <p>Zapraszamy do wypoczynku w Świnoujściu w jednym z 370 apartamentów w kompleksie Apart Park znajdujacym się nad 
            samym morzem. <strong>W niewielkiem odległości</strong> od plaży oraz Promenady Świnoujście znajduje się bistro, kawiarnia oraz
            strefa SPA.
        </p>
        <p>
            Zapraszamy do wypoczynku w Świnoujściu w jednym z 370 apartamentów w kompleksie Apart Park znajdujacym się nad
            samym morzem. W niewielkiem odległości od plaży oraz Promenady Świnoujście znajduje się bistro, kawiarnia oraz
            strefa SPA.
    </p>
    </div>
    <div class="second-heading">
    <h3>Nagłówek</h3>
        <p>Zapraszamy do wypoczynku w Świnoujściu w jednym z 370 apartamentów w kompleksie Apart Park znajdujacym się nad 
            samym morzem. <strong>W niewielkiem odległości</strong> od plaży oraz Promenady Świnoujście znajduje się bistro, kawiarnia oraz
            strefa SPA.
        </p>
        <ul>
            <li>Zapraszamy do wypoczynku w Świnoujściu</li>
            <li>Zapraszamy do wypoczynku w Świnoujściu</li>
            <li>Zapraszamy do wypoczynku w Świnoujściu</li>
        </ul>
    </div>
    <div class="third-heading">
    <h3>Nagłówek</h3>
    <p>Zapraszamy do wypoczynku w Świnoujściu w jednym z 370 apartamentów w kompleksie Apart Park znajdujacym się nad 
        samym morzem. <strong>W niewielkiem odległości</strong> od plaży oraz Promenady Świnoujście znajduje się bistro, kawiarnia oraz
        strefa SPA.
    </p>
    <img src="images/static-page-image.png">
    <p>Zapraszamy do wypoczynku w Świnoujściu w jednym z 370 apartamentów w kompleksie Apart Park znajdujacym się nad 
        samym morzem. <strong>W niewielkiem odległości</strong> od plaży oraz Promenady Świnoujście znajduje się bistro, kawiarnia oraz
        strefa SPA.</p>
    </div>
</section>