<!DOCTYPE html>

<html lang="pl" region="pl">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=" theme-color" content="#FFFFFF">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="canonical" href="index.html">

    <title>Strona statyczna | Apartpark</title>
    <meta name="description" content="Strona statyczna | Apartpark">


    <!--	Open Graph Protocol -->
    <meta property="og:title" content="Strona statyczna | Apartpark">
    <meta property="og:type" content="website">
    <meta property="og:url" content="index.html">
    <meta property="og:site_name" content="index.html">
    <meta property="og:description" content="Strona statyczna | Apartpark">
    <!--	/Open Graph Protocol -->

    <!--	[if lt IE 9]-->
    <!--	spowalnia ładowanie strony-->
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js">
    </script>
    <!--	[endif]-->

    <!--	styles-->
    <link href="css/base.css" type="text/css" rel="stylesheet">
    <!--	/styles-->

    <!-- Scripts -->
    <script src="js/menu.js" type="text/javascript"></script>
    <script defer src="js/router.js"></script>
    <script defer src="js/route.js"></script>
    <script defer src="js/app.js"></script>
    <!-- /Scripts -->
</head>
<body>
    <header>
        <span>To jest nawigacja strony statycznej</span>
    </header>
</body>
</html>
